.vs
bin
obj
*.user

/Tests/Program.cs
/Diagsessions
/TestFiles/*.exe
/TestFiles/Old
/Source/DevelopmentEntry.cs
/TestFiles/run.bat
/TestFiles/test.bbc
/Source/ASM/i8086/Builds/build.bat
/Source/ASM/i8086/Builds/run.bat
