# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# IDE0160: Convert to block scoped namespace
csharp_style_namespace_declarations = file_scoped

# IDE0022: Use block body for method
dotnet_diagnostic.IDE0022.severity = silent

# IDE0040: Add accessibility modifiers
dotnet_style_require_accessibility_modifiers = omit_if_default

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = silent

# IDE0011: Add braces
csharp_prefer_braces = when_multiline

# IDE0046: Convert to conditional expression
dotnet_diagnostic.IDE0046.severity = silent

# IDE0303: Simplify collection initialization
dotnet_style_prefer_collection_expression = never

# IDE0061: Use block body for local function
dotnet_diagnostic.IDE0061.severity = silent

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = silent

# IDE0270: Use coalesce expression
dotnet_diagnostic.IDE0270.severity = suggestion
